
RewriteEngine On

RewriteRule ^([A-Za-z]+)$ Index.php?Action=$1
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)$ Index.php?Action=$1&Language=$2
RewriteRule ^([A-Za-z]+)/([0-9]+)$ Index.php?Action=$1&BlogID=$2
RewriteRule ^([A-Za-z]+)/([0-9]+)/([0-9]+)$ Index.php?Action=$1&BlogID=$2&ArticleID=$3

DirectoryIndex Index.php?Action=Welcome
